@font-face {
  font-family: Witcher;
  src: url('/fonts/thewitcher-font/witcher.ttf');
}

@font-face {
  font-family: DMMono;
  src: url('/fonts/DM_Mono/DMMono-Medium.ttf');
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1600px;
  padding: 0 3%;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 560px) {
    padding: 0 24px;
  }
}
